<%= simple_form_for(@student) do |f| %>
  <%= f.input :name %>
  <%= f.input :registration %>
  <%#= f.input :birth_date, as: :string, input_html: {type: 'date'}, class: 'coisinha' %>
  <%= f.input :birth_date, start_year: (Date.current-18.year).year, end_year: 1960 %>
  <%= f.input :status, as: :radio_buttons, collection: [['Sim', true], ['Não', false]] %>
  <%= f.input :age %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
